@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.home {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home h2 {
  text-align: center;
  font-size: 5vw;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
  margin-right: 50px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 50%;
  margin: auto;
  margin-bottom: 0;
  padding: 10px;
  position: relative;
}
.project {
  height:96vh;
  
}

.project-preview {
  padding: 20px 16px;
  margin: 20px 0;
  border-bottom: 2px solid #fafafa;
}

.project-preview:hover {
  background-color: #FCEFEF;
  box-shadow: 1px 3px 5px solid rgba(38, 4, 4, 5);
}

.project-preview h2 {
  font-size: 2vw;
  margin-bottom: 8px;
}

.main-footer {
  background-color: rgb(6, 2, 24);
  text-align: center;
  position:sticky;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}
.main-footer h4 {
  color: white;
}
.main-footer p {
  color: white;
}

.col {
  text-align: center;
  display: flex;
  gap: 10rem;
  margin-right: 50px;
}

.about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  width: 400px;
  height: 400px;
  border-radius: 2rem;
}


.details-container {
  padding: 2rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text__p1 {
  text-align: center;
}
.title {
  font-size: 3rem;
  text-align: center;
}
.section-container {
  display: flex;
  
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin-left: -50px;
  box-sizing:border-box;
  min-height: fit-content;
  left: auto;
}

.icon {
  cursor: pointer;
  height: 5rem;
}

.text-container {
  display:flex;
}

.link-icon {
  width: 5vw;
  height: 3rem;
  cursor: pointer;;
}

.contact {
  height: 80vh;
}


label {
  text-align: left;
  display: block;
}

input, textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

button {
  background: #f1356d;
  color: #fff;
  border: 0;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}